resolveAllDependencies=false

npm.yarnProject=false
npm.runPreStep=false
npm.resolveDependencies=true
npm.includeDevDependencies=true
npm.ignoreSourceFiles=true
npm.ignoreScripts=true
npm.ignoreNpmLsErrors=true
#npm.yarn.frozenLockfile=false
#npm.resolveMainPackageJsonOnly=false
npm.resolveLockFile=false
#npm.resolveGlobalPackages=false
npm.resolveAdditionalDependencies=true
npm.removeDuplicateDependencies=true
#npm.projectNameFromDependencyFile=false
#npm.ignoreDirectoryPatterns=example,examples,.ws_bower,test
#npm.identifyByNameAndVersion=false
#npm.failOnNpmLsErrors=
#npm.accessToken=
